@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: myFont;
  font-style: normal;
  font-weight: 300;
  unicode-range: U+123, U+456-7FF, U+9??;
  src: local("Ubuntu Light"), local("Ubuntu-Light"), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/_aijTyevf54tkVDLy-dlnD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
@font-face {
  font-family: myFont;
  font-style: normal;
  font-weight: 400;
  unicode-range: U+123, U+456-7FF, U+9??;
  src: local("Ubuntu"), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/_xyN3apAT_yRRDeqB3sPRg.woff) format("woff"); }
@font-face {
  font-family: myFont;
  font-style: normal;
  font-weight: 500;
  unicode-range: U+123, U+456-7FF, U+9??;
  src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/OsJ2DjdpjqFRVUSto6IffD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
@font-face {
  font-family: myFont;
  font-style: normal;
  font-weight: 700;
  unicode-range: U+123, U+456-7FF, U+9??;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/0ihfXUL2emPh0ROJezvraD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
body {
  font-size: 16px;
  color: #404040; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: #404040;
  text-decoration: none; }

.target-fix {
  position: absolute;
  top: -94px; }
  @media only screen and (max-width: 767px) {
    .target-fix {
      top: -40px; } }

@media only screen and (min-width: 768px) {
  .only-phone {
    display: none !important; } }

@media only screen and (max-width: 767px) {
  .only-pc {
    display: none !important; } }

header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
  padding: 6px 76px 2px;
  line-height: .875em;
  letter-spacing: .1em;
  background: #fff;
  z-index: 998; }
  @media only screen and (max-width: 767px) {
    header {
      position: fixed;
      top: 0;
      padding: 6px;
      border-bottom: #EFEFF4 1px solid;
      line-height: normal; } }
  header .left span {
    display: inline-block;
    color: #ABB4BD;
    font-size: .75em; }
    header .left span.js-disable {
      display: none; }
  header .left .menu {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain !important;
    cursor: pointer;
    background: url("../images/menu.png") no-repeat center center; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      header .left .menu {
        background: url("../images/menu@2x.png") no-repeat center center; } }
  header .right .social-mobile-menu {
    display: inline-block;
    height: 24px;
    overflow: hidden; }
    @media only screen and (max-width: 767px) {
      header .right .social-mobile-menu {
        width: 0; } }
    header .right .social-mobile-menu.js-active {
      width: auto; }
  header .right a {
    margin-left: 36px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain !important;
    cursor: pointer; }
    @media only screen and (max-width: 767px) {
      header .right a {
        margin-left: 18px; } }
    header .right a.fb {
      background: url("../images/social_fb.png") no-repeat center center; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        header .right a.fb {
          background: url("../images/social_fb@2x.png") no-repeat center center; } }
    header .right a.ig {
      background: url("../images/social_ig.png") no-repeat center center; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        header .right a.ig {
          background: url("../images/social_ig@2x.png") no-repeat center center; } }
    header .right a.line {
      background: url("../images/social_message.png") no-repeat center center; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        header .right a.line {
          background: url("../images/social_message@2x.png") no-repeat center center; } }
    header .right a.mail {
      background: url("../images/social_mail.png") no-repeat center center; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        header .right a.mail {
          background: url("../images/social_mail@2x.png") no-repeat center center; } }
    header .right a.social {
      margin-left: 0;
      background: url("../images/social.png") no-repeat center center; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        header .right a.social {
          background: url("../images/social@2x.png") no-repeat center center; } }

.banner {
  width: 100%;
  padding: 136px 0;
  color: #fff;
  text-align: center;
  font-size: 2em;
  letter-spacing: .625em;
  background: url("../images/banner.jpg") no-repeat center center;
  background-size: cover !important; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .banner {
      background: url("../images/banner@2x.jpg") no-repeat center center; } }
  @media only screen and (max-width: 767px) {
    .banner {
      padding: 271px 0;
      font-size: 1.125em;
      letter-spacing: .375em; } }

nav {
  margin: 0 auto;
  width: 100%;
  height: 94px;
  max-width: 872px;
  background: #fff;
  z-index: 999;
  transition: all .3s; }
  @media only screen and (max-width: 767px) {
    nav {
      position: fixed;
      top: 0;
      left: -160px;
      width: 160px;
      height: 100vh;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); } }
  nav.js-menu-active {
    left: 0; }
  @media only screen and (min-width: 768px) {
    nav.js-active ul {
      position: fixed;
      top: 0;
      left: 0; } }
  nav ul {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #fff;
    z-index: 999; }
    @media only screen and (max-width: 767px) {
      nav ul {
        flex-direction: column; } }
    nav ul li {
      position: relative;
      display: inline-flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      max-width: 145px;
      height: 94px;
      border-bottom: #EFEFF4 1px solid; }
      @media only screen and (max-width: 767px) {
        nav ul li {
          height: 64px;
          max-width: none;
          border-bottom: 0;
          border-right: transparent 1px solid; } }
      nav ul li:hover {
        border-bottom: #E54D42 1px solid; }
      @media only screen and (max-width: 767px) {
        nav ul li.js-active {
          border-right: #E54D42 1px solid; } }
      nav ul li.js-active:after {
        content: "";
        position: absolute;
        left: 50%;
        left: calc(50% - 7px);
        bottom: 0;
        width: 15px;
        height: 15px;
        background: url("../images/Triangle.png") no-repeat;
        background-size: contain !important; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          nav ul li.js-active:after {
            background: url("../images/Triangle@2x.png") no-repeat center center; } }
        @media only screen and (max-width: 767px) {
          nav ul li.js-active:after {
            left: auto;
            right: 0;
            bottom: calc(50% - 7px);
            transform: rotate(-90deg); } }
      nav ul li span {
        position: absolute;
        top: 1.8em;
        left: 0;
        left: calc(50% - 60px);
        width: 120px;
        font-size: .625em;
        text-align: center; }
        @media only screen and (max-width: 767px) {
          nav ul li span {
            top: .5em; } }
  nav .close {
    margin: 6px;
    display: block;
    width: 24px;
    height: 24px;
    background: url("../images/close.png") no-repeat;
    background-size: contain !important;
    z-index: 999; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      nav .close {
        background: url("../images/close@2x.png") no-repeat center center; } }

article.block {
  position: relative;
  margin: 0 auto;
  display: flex;
  width: 100%;
  min-height: 320px;
  max-width: 1024px; }
  article.block .one {
    flex: 1; }
    @media only screen and (max-width: 767px) {
      article.block .one {
        min-height: 50vh; } }
  article.block .two {
    flex: 2;
    padding: 0 16px; }
    @media only screen and (max-width: 767px) {
      article.block .two {
        flex: 1;
        justify-content: flex-start;
        min-height: 50vh; } }
  article.block .three {
    flex: 3; }
  article.block div {
    display: inline-flex;
    flex-direction: column;
    justify-content: center; }
  article.block h3 {
    margin: 24px 0;
    font-size: 1.5em; }
    @media only screen and (max-width: 767px) {
      article.block h3 {
        text-align: center; } }
  article.block h4 {
    margin: 19px 0;
    font-size: 1em; }
  article.block .content {
    letter-spacing: .07em;
    line-height: 1.625em;
    color: #808080; }
    article.block .content.red {
      margin: 24px 0;
      color: #FF7171; }

.more {
  padding-top: 36px;
  background: url("../images/More.png") no-repeat top right;
  background-size: 106px 36px !important;
  cursor: pointer; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .more {
      background: url("../images/More@2x.png") no-repeat top right; } }
  .more.js-active {
    background: url("../images/Moreclose.png") no-repeat top right; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .more.js-active {
        background: url("../images/Moreclose@2x.png") no-repeat top right; } }
    .more.js-active .content {
      display: block; }
  .more .content {
    display: none;
    padding: 12px 14px;
    color: #fff !important;
    background: #5AC8FA;
    border-radius: 5px;
    font-size: .625em;
    line-height: 1.125em; }

.help {
  position: relative;
  margin: 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  min-height: 24px;
  cursor: pointer; }
  .help:after {
    content: "";
    position: absolute;
    top: 0;
    left: 4.5em;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../images/help.png") no-repeat top right;
    background-size: 24px 24px !important; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .help:after {
        background: url("../images/help@2x.png") no-repeat top right; } }
  .help.js-active .content {
    display: block; }
  .help .content {
    margin: 18px 0;
    display: none;
    padding: 12px 14px;
    color: #808080 !important;
    border: #EFEFF4 1px solid;
    border-radius: 5px;
    font-size: .625em;
    line-height: 1.125em; }

.row {
  flex-direction: row !important; }

.column {
  flex-direction: column !important; }

.center {
  align-items: center; }

@media only screen and (max-width: 767px) {
  .page1 {
    flex-direction: column; } }
.page1 .one.left {
  background: url("../images/Page1.png") no-repeat center;
  background-size: 139px 123px !important; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .page1 .one.left {
      background: url("../images/Page1@2x.png") no-repeat center; } }
  @media only screen and (max-width: 767px) {
    .page1 .one.left {
      background-position: center bottom; } }
.page1 .one.right {
  background: url("../images/Page1-2.png") no-repeat center;
  background-size: 40px 139px !important; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .page1 .one.right {
      background: url("../images/Page1-2@2x.png") no-repeat center; } }

@media only screen and (max-width: 767px) {
  .page2 {
    flex-direction: column;
    flex-flow: column-reverse; } }
.page2 .one {
  background: url("../images/p2img.png") no-repeat center;
  background-size: 149px 215px !important; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .page2 .one {
      background: url("../images/p2img@2x.png") no-repeat center; } }

@media only screen and (max-width: 767px) {
  .page3 {
    flex-direction: column; } }
.page3 .one {
  background: url("../images/Image3.png") no-repeat center;
  background-size: 158px 129px !important; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .page3 .one {
      background: url("../images/Image3@2x.png") no-repeat center; } }

.page4 div {
  display: block; }
.page4 h3, .page4 h4 {
  text-align: center; }
.page4 .pic {
  height: 129px;
  background: url("../images/Image4.png") no-repeat center;
  background-size: 129px 129px !important; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .page4 .pic {
      background: url("../images/Image4@2x.png") no-repeat center; } }
@media only screen and (max-width: 767px) {
  .page4 .row {
    flex-direction: column !important; } }
.page4 .row .sup {
  min-height: auto; }
.page4 .row .one {
  margin: 0 14px;
  justify-content: flex-start; }
  @media only screen and (max-width: 767px) {
    .page4 .row .one {
      justify-content: center; } }
  .page4 .row .one div {
    flex-direction: row;
    padding: 9px 0;
    text-align: center; }
    .page4 .row .one div.header {
      background: #FDC02F;
      color: #fff; }
    .page4 .row .one div div {
      justify-content: center;
      align-items: center;
      width: 40%;
      padding: 0; }
      .page4 .row .one div div:first-of-type {
        width: 60%; }
.page4 .hint {
  margin: 0 14px 36px;
  padding: 24px;
  color: #FDC02F;
  border: 1px #FDC02F solid;
  border-radius: 64px; }
  @media only screen and (max-width: 767px) {
    .page4 .hint {
      line-height: 1.5em; } }

.page5 h3, .page5 h4 {
  text-align: center; }
.page5 h3 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 25vh; }
@media only screen and (max-width: 767px) {
  .page5 .row {
    flex-direction: column !important; } }
.page5 .one {
  background: url("../images/p5img.png") no-repeat center;
  background-size: 140px 140px !important; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .page5 .one {
      background: url("../images/p5img@2x.png") no-repeat center; } }
  @media only screen and (max-width: 767px) {
    .page5 .one {
      min-height: 25vh !important;
      background-position: center top; } }
.page5 .two {
  flex-wrap: wrap; }
  .page5 .two h4 {
    position: relative;
    margin: 19px auto;
    display: inline-block;
    color: #808080; }
    .page5 .two h4:after {
      content: "";
      position: absolute;
      left: -1.5em;
      top: calc(50% - 6px);
      width: 12px;
      height: 12px;
      background: url("../images/Triangleleft.png") no-repeat center;
      background-size: contain !important; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .page5 .two h4:after {
          background: url("../images/Triangleleft@2x.png") no-repeat center; } }
  .page5 .two .item {
    justify-content: flex-start;
    width: 50%;
    padding: 12px 12px 30px; }
    @media only screen and (max-width: 767px) {
      .page5 .two .item {
        width: 100%; } }

.page6 h3 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 25vh;
  text-align: center; }
.page6 h4 {
  margin: 9px 0;
  color: #808080; }
@media only screen and (max-width: 767px) {
  .page6 .row {
    flex-direction: column !important; } }
.page6 .one {
  background: url("../images/Image6.png") no-repeat center;
  background-size: 159px 136px !important; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .page6 .one {
      background: url("../images/Image6@2x.png") no-repeat center; } }
  @media only screen and (max-width: 767px) {
    .page6 .one {
      min-height: 25vh !important;
      background-position: center top; } }
.page6 .help {
  margin-bottom: 64px; }
.page6 .content {
  margin-left: 16px; }

.page7 {
  max-width: none !important;
  background: #C42F54; }
  .page7 .tabs {
    margin: 0 auto;
    display: flex;
    width: 100%;
    max-width: 872px; }
    @media only screen and (max-width: 767px) {
      .page7 .tabs {
        flex-wrap: wrap; } }
    .page7 .tabs li {
      margin: 0 auto;
      padding: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      height: 48px;
      max-width: 218px;
      color: #fff;
      cursor: pointer; }
      @media only screen and (max-width: 767px) {
        .page7 .tabs li {
          flex: auto;
          width: 50%; } }
      .page7 .tabs li.js-active {
        font-size: 1.5em; }
      .page7 .tabs li:hover, .page7 .tabs li.js-active {
        background: #E54260; }
  .page7 .tabs-content {
    background: #E54260;
    color: #fff;
    letter-spacing: .1em;
    line-height: 1.375em; }
    .page7 .tabs-content .item {
      margin: 0 auto;
      display: none;
      flex-direction: row;
      width: 100%;
      max-width: 872px;
      min-height: 272px; }
      @media only screen and (max-width: 767px) {
        .page7 .tabs-content .item {
          flex-direction: column; } }
      .page7 .tabs-content .item.js-active {
        display: flex; }
      .page7 .tabs-content .item:nth-of-type(1) .one {
        background: url("../images/CombinedShape.png") no-repeat center;
        background-size: 100px 100px !important; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .page7 .tabs-content .item:nth-of-type(1) .one {
            background: url("../images/CombinedShape@2x.png") no-repeat center; } }
        @media only screen and (max-width: 767px) {
          .page7 .tabs-content .item:nth-of-type(1) .one {
            min-height: 25vh; } }
      @media only screen and (max-width: 767px) {
        .page7 .tabs-content .item:nth-of-type(1) .three {
          padding: 24px 0; } }
      @media only screen and (max-width: 767px) {
        .page7 .tabs-content .item:nth-of-type(2) {
          flex-direction: row;
          flex-wrap: wrap; } }
      @media only screen and (max-width: 767px) {
        .page7 .tabs-content .item:nth-of-type(2) .one {
          flex: auto;
          width: 50%;
          min-height: 25vh; } }
      .page7 .tabs-content .item:nth-of-type(2) .one span {
        padding-top: 148px;
        cursor: pointer;
        opacity: .48;
        text-align: center; }
        .page7 .tabs-content .item:nth-of-type(2) .one span:hover {
          opacity: 1; }
      .page7 .tabs-content .item:nth-of-type(2) .one:nth-of-type(1) span {
        background: url("../images/peo1.png") no-repeat center;
        background-size: 84px 109px !important; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .page7 .tabs-content .item:nth-of-type(2) .one:nth-of-type(1) span {
            background: url("../images/peo1@2x.png") no-repeat center; } }
      .page7 .tabs-content .item:nth-of-type(2) .one:nth-of-type(2) span {
        background: url("../images/peo2.png") no-repeat center;
        background-size: 110px 109px !important; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .page7 .tabs-content .item:nth-of-type(2) .one:nth-of-type(2) span {
            background: url("../images/peo2@2x.png") no-repeat center; } }
      .page7 .tabs-content .item:nth-of-type(2) .one:nth-of-type(3) span {
        background: url("../images/peo3.png") no-repeat center;
        background-size: 74px 109px !important; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .page7 .tabs-content .item:nth-of-type(2) .one:nth-of-type(3) span {
            background: url("../images/peo3@2x.png") no-repeat center; } }
      .page7 .tabs-content .item:nth-of-type(2) .one:nth-of-type(4) span {
        background: url("../images/peo4.png") no-repeat center;
        background-size: 40px 109px !important; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .page7 .tabs-content .item:nth-of-type(2) .one:nth-of-type(4) span {
            background: url("../images/peo4@2x.png") no-repeat center; } }
      @media only screen and (max-width: 767px) {
        .page7 .tabs-content .item:nth-of-type(3) .one {
          flex: 0;
          min-height: auto; } }
      .page7 .tabs-content .item:nth-of-type(3) .text {
        margin: 4px 0; }
        @media only screen and (max-width: 767px) {
          .page7 .tabs-content .item:nth-of-type(3) .text {
            margin: 17px 0; } }
      .page7 .tabs-content .item .three {
        margin: 0 23px; }
        @media only screen and (max-width: 767px) {
          .page7 .tabs-content .item .three {
            padding: 24px 0; } }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  footer a {
    display: inline-block;
    height: 48px;
    padding: 6px 64px 6px 43px;
    line-height: 36px; }
    @media only screen and (max-width: 767px) {
      footer a {
        padding: 6px 1em 6px 43px;
        font-size: .75em; } }
    footer a.line {
      background: url("../images/line.png") no-repeat left center;
      background-size: 32px 26px !important; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        footer a.line {
          background: url("../images/line@2x.png") no-repeat left center; } }
    footer a.mail {
      background: url("../images/social_mail.png") no-repeat left center;
      background-size: 31px 24px !important; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        footer a.mail {
          background: url("../images/social_mail@2x.png") no-repeat left center; } }
